<?xml version="1.0" encoding="UTF-8"?>
<hibernate-configuration>
    <session-factory>
        <property name="dialect">org.sqlite.hibernate.dialect.SQLiteDialect</property>
        <property name="hibernate.connection.driver_class">org.sqlite.JDBC</property>
        <property name="hibernate.connection.url">jdbc:sqlite:liteDatabase/apteka.db</property>
        <property name="hibernate.show_sql">true</property>
        <property name="format_sql">true</property>
        <property name="hibernate.hbm2ddl.auto">update</property>

        <mapping class="com.isjackalive.entity.Pacjent"/>
        <mapping class="com.isjackalive.entity.Recepta"/>
        <mapping class="com.isjackalive.entity.Doktor"/>
        <mapping class="com.isjackalive.entity.Produkt"/>
    </session-factory>
</hibernate-configuration>